Package: git-mergepo
Version: 0.1 
Section: utils 
Priority: optional 
Architecture: all
Essential: no 
Depends: bash, git 
Maintainer: maarten.huijsmans@mobilevikings.com 
Description: Custom git merge driver for po files, it uses msgcat instead of the default git diff  


